[submodule "addons/godot_runtime_mcp"]
	path = addons/godot_runtime_mcp
	url = https://github.com/EEEEEEEEthan/godot_runtime_mcp.git
[submodule ".python/egent"]
	path = .python/egent
	url = https://github.com/EEEEEEEEthan/egent.git
